@model System.Collections.Generic.IEnumerable<CPRG214Lab2.AssetTracking.App.Models.AssetsViewModel>
@{
    ViewData["Title"] = "Default";
}

<h2>Assets</h2>

<table class="table">
    <tr>
        <th>TagNumber</th>
        <th>Asset Type</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Description</th>
        <th>SerialNumber</th>


    </tr>

    @foreach (var asset in Model)
    {
    <tr>
    <td>@asset.TagNumber</td>
    <td>@asset.AssetType</td>
    <td>@asset.Manufacturer</td>
    <td>@asset.Model</td>
    <td>@asset.Description</td>
    <td>@asset.SerialNumber</td>
    
    </tr>
    }

</table>
